@model BeneficiarioViewModel

@{
    ViewData["Title"] = "Index beneficiario";
     Layout = ViewBag.Layout ?? "_LayoutBeneficario";
}
@if (TempData["MensajeExito"] != null)
{
    <div class="alert alert-success mt-3">@TempData["MensajeExito"]</div>
}
@if (ViewBag.PerfilIncompleto == true)
{
    <div class="alert alert-warning mt-3">
        <strong>⚠️ Tu perfil está incompleto.</strong>  
        Debes completar tu información para continuar con el proceso de subsidio.
        <br />
        <a class="btn btn-primary mt-2" asp-action="CompletarPerfil" asp-controller="Beneficiarios">Completar perfil</a>

    </div>
}
else
{
    <div class="alert alert-success mt-3">
        ✅ Tu perfil está completo.
    </div>
}

<p><strong>DUI:</strong> @Model.Dui</p>
<p><strong>Teléfono:</strong> @Model.Telefono</p>
<p><strong>Dirección:</strong> @Model.Direccion</p>


